build/
.classpath
.project

webapp/CFIDE/
webapp/META-INF/
webapp/crossdomain.xml


webapp/WEB-INF/attachments/
webapp/WEB-INF/cfc-skeletons/
webapp/WEB-INF/cfclasses/
webapp/WEB-INF/cfform/
webapp/WEB-INF/cftags/
webapp/WEB-INF/cfusion/
webapp/WEB-INF/classes/
webapp/WEB-INF/debug/
webapp/WEB-INF/exception/
webapp/WEB-INF/flex/
webapp/WEB-INF/lib/
webapp/WEB-INF/lib/cf-bootstrap-for-flex.jar
webapp/WEB-INF/lib/cfmx_bootstrap.jar
webapp/WEB-INF/lib/cfx.jar
webapp/WEB-INF/lib/commons-beanutils-1.8.0.jar
webapp/WEB-INF/lib/commons-collections-2.1.jar
webapp/WEB-INF/lib/empty.txt
webapp/WEB-INF/lib/js.jar
webapp/WEB-INF/lib/jsafeFIPS.jar
webapp/WEB-INF/lib/jsafeJCEFIPS.jar
webapp/WEB-INF/lib/jstl-1.2.jar
webapp/WEB-INF/lib/portlet-proxy.jar
webapp/WEB-INF/cf-wsrp-portlet.xml
webapp/WEB-INF/cfform-gateway-config.xml
webapp/WEB-INF/client-config.wsdd
webapp/WEB-INF/gateway-config.xml
webapp/WEB-INF/j2ee-web.xml
webapp/WEB-INF/jrun-web.xml
webapp/WEB-INF/portlet.xml
webapp/WEB-INF/server-config.wsdd
webapp/WEB-INF/web-app_2_2.dtd
webapp/WEB-INF/web-app_2_3.dtd
webapp/WEB-INF/web-jsptaglibrary_1_1.dtd
webapp/WEB-INF/web-jsptaglibrary_1_2.dtd

